<section id="content">
          <section class="hbox stretch">
            <section>
              <section class="vbox">
                <section class="scrollable padder">              
                  <div class="row">

                    <div class="col-md-6 col-sm-12">
                      <div class="panel b-a">
                        <div class="panel-heading no-border bg-primary lt text-center" style="background-color: #1A237E !important"><!--#FF9933-->
                          <a href="#">
                            <h1 class=" m-t m-b text-white"><b>BHARTIYA JANTA PARTY</b></h1>
                          </a>
                        </div>
                        <div class="padder-v text-center clearfix">                            
                          <div class="col-xs-6 b-r">
                            <div class="h3 font-bold">{{totalModi}}</div>
                            <small class="text-muted">Total Tweets</small>
                          </div>
                          <div class="col-xs-6">
                            <div class="h3 font-bold">{{modiMinute}}</div>
                            <small class="text-muted">Tweets Per Minute</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="panel b-a">
                       <div class="panel-heading no-border bg-info lter text-center" style="background-color: #1A237E !important"><!--#138808-->
                          <a href="#">
                            <h1 class=" m-t m-b text-white" ><b>CONGRESS PARTY</b></h1>
                          </a>
                        </div>
                        <div class="padder-v text-center clearfix">                            
                          <div class="col-xs-6 b-r">
                            <div class="h3 font-bold">{{totalCongress}}</div>
                            <small class="text-muted">Total Tweets</small>
                          </div>
                          <div class="col-xs-6">
                            <div class="h3 font-bold">{{congMinute}}</div>
                            <small class="text-muted">Tweets Per Minute</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-3 hide">
                      <section class="panel b-a">
                        <header class="panel-heading b-b b-light">
                          <ul class="nav nav-pills pull-right">
                            <li>
                              <a href="ajax.pie.html" class="text-muted" data-bjax data-target="#b-c">
                                <i class="i i-cycle"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#" class="panel-toggle text-muted">
                                <i class="i i-plus text-active"></i>
                                <i class="i i-minus text"></i>
                              </a>
                            </li>
                          </ul>
                          Connection
                        </header>
                        <div class="panel-body text-center bg-light lter" id="b-c">
                          <div class="easypiechart inline m-b m-t" data-percent="60" data-line-width="4" data-bar-Color="#23aa8c" data-track-Color="#c5d1da" data-color="#2a3844" data-scale-Color="false" data-size="120" data-line-cap='butt' data-animate="2000">
                            <div>
                              <span class="h2 m-l-sm step"></span>%
                              <div class="text text-xs">completed</div>
                            </div>
                          </div>
                        </div>
                      </section>                      
                    </div>
                  </div>           
          
        </section>
      </section>
    </section>
  </section>
      <div class="row bg-light dk m-b">
                    <div class="col-md-6 dker">
                      <section>
                        <header class="font-bold padder-v" style="padding-left: 18px !important;">
                         BHARTIYA JANTA PARTY SENTIMENTAL ANALYSIS
                        </header >
                        <div class="panel-body">
                          <div id="flot-sp1ine" >
                          <canvas baseChart style="height:210px"
                         [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [colors]="chartColors"
                        (chartHover)="chartHovered($event)"
                         (chartClick)="chartClicked($event)"></canvas>

                          </div>
                          </div>
                        <div class="row text-center no-gutter">
                          <div class="col-xs-3">
                            
                          </div>
                          <div class="col-xs-3">
                          </div>
                          <div class="col-xs-3">
 
                          </div>
                          <div class="col-xs-3">
                                                   
                          </div>
                        </div>
                      </section>
                    </div>
                    <div class="col-md-6">
                      <section>
                        <header class="font-bold padder-v"style="padding-left: 18px !important;">
                          CONGRESS PARTY SENTIMENTAL ANALYSIS
                        </header>
                        <div class="panel-body flot-legend">
                          <div id="flot-pie-donut">
                            <canvas baseChart style="height:240px"
                            [data]="pieChartData2"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"
                            [colors]="chartColors"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                          </div>
                        </div>
                        </section>
                        </div>
                    </div>
</section>
