<div class="col-lg-12">
<section class="panel b-a">
    <div class="panel-heading b-b">
   <a href="#" class="font-bold">Tweets</a>
     </div>
     <ul class="list-group list-group-lg no-bg auto"> 
       <a href="#" class="list-group-item clearfix">
         <span class="clear">
          <span><b>BHARTIYA JANTA PARTY-</b>{{messages}}</span>
        </span>
        </a>
        <a href="#" class="list-group-item clearfix">
          <span class="clear">
        <span><b>CONGRESS PARTY-</b>{{messages2}}</span>
      </span>
       </a>
    </ul>
  </section>
</div>